
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#f7f5eb;
    font-family:Arial, sans-serif;
}
.navbar-main-container {
    background-color: #31443b;
    color: #f7f5eb ;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;

    width: 100%;
    z-index: 1000;
}

.main-container {
    height: 600px;
    width: 1527px;
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 20px;
}

.project-name {
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    font-family:"Poppins" ,sans-serif;
}

.main-logo {
    border-radius: 60px;

}

.nav-links-container {
    display: flex;
    gap: 20px;
    cursor: pointer;
    color: #f7f5eb ;
}

.nav-text-container {
    color:#f7f5eb ;
     text-decoration: none; 
     
}
.nav-text-container:hover{
    color: #f0c76b ;            
}

.auth-links-containar {
    display: flex;
    gap: 20px;
    cursor: pointer;
}


.main-container {
    height: 600px;
    width: 1527px;
}
/* ================= MOBILE (max-width:600px) ================= */
@media screen and (max-width:600px){

.navbar-main-container{
    flex-direction: column;
    padding:10px;
}

.logo-container{
    gap:10px;
}

.project-name{
    font-size:18px;
}


.nav-links-container{
    flex-direction: column;
    align-items:center;
    gap:10px;
}

.auth-links-containar{
    margin-top:10px;
}


.main-container{
    width:100%;
    height:auto;
}

}

/* HAMBURGER BUTTON */
.menu-toggle{
display:none;
font-size:28px;
cursor:pointer;
color:white;
}

/* MOBILE VIEW */
@media screen and (max-width:768px){

.menu-toggle{
display:block;
}
}

/* ================= TABLET (601px – 992px) ================= */
@media screen and (max-width:992px){

.navbar-main-container{
    flex-wrap:wrap;
    padding:10px;
}

.nav-links-container{
    gap:15px;
}

.main-container{
    width:100%;
}

}

/* ================= LARGE SCREEN ================= */
@media screen and (min-width:1200px){

.main-container{
    width:100%;
}
}


/* MAIN CONTAINER */
.container{
    display:flex;
    width:90%;
    margin:20px auto;
    border-radius:10px;
    overflow:hidden;
    margin-top: 100px;
}

/* LEFT SIDE */
.left{
    flex:1;
    background: #a0a9ba;
    color:white;
    padding:40px;
}

.left h1{
    font-size:40px;
    margin-bottom:10px;
}

.left h1 span{
    color:#1bb798;
}


.left p{
    font-size:14px;
    margin-bottom:25px;
}

.left input, .left textarea{
    width:100%;
    padding:12px;
    margin:10px 0;
    border: none;
    border-radius:8px;
    outline: none;
}

.left textarea{
    height:120px;
    resize:none;
}

/* STAR RATING */
.stars{
    display:flex;
    gap:10px;
    margin:15px 0;
}
 
 
.star{
    font-size:24px;
    cursor:pointer;
    background:white;
    padding:10px 15px;
    border-radius:10px;
    color:#ccc;
    transition:0.3s;
}

.star.active{
    color:#f5b942;
    transform:scale(1.1);
}

/* BUTTON */
.left button{
    background:#31443b;
    color: white;
    border:none;
    padding:12px;
    width:100%;
    border-radius:8px;
    font-weight:bold;
    cursor:pointer;
    margin-top:15px;
}


/* RIGHT SIDE */
.right{
    flex:1;
    background:#ffff;
    padding:40px;
}

.reviews{
    color: #176d73;
     margin-top: 2px;
     padding-bottom: 15px;
}

/* CARD */
.card{
    background:white;
    padding:20px;
    border-radius:15px;
    margin-bottom:25px;
    box-shadow:0 5px 15px rgba(0,0,0,0.1);
    position:relative;
}

.card::after{
    content:"";
    position:absolute;
    bottom:-15px;
    left:40px;
    border-width:15px;
    border-style:solid;
    border-color:white transparent transparent transparent;
}

.profile{
    display:flex;
    gap:15px;
    align-items:center;
}

.profile img{
    width:60px;
    height:60px;
    border-radius:50%;
    background:#ddd;
}

.rating{
    color:#f5b942;
    margin-top:5px;
}

/* RESPONSIVE */
@media(max-width:900px){
    .container{
        flex-direction:column;
    }
}
/* ===== FOOTER ===== */

.main-footer{
    background: #31443b;
    color:#fff;
    padding:50px 20px 20px;
    margin-top:50px;
}

.footer-container{
    display:flex;
    justify-content:space-between;
    flex-wrap:wrap;
    gap:30px;
    max-width:1200px;
    margin:auto;
}

.footer-col{
    flex:1 1 200px;
}

.footer-col h3{
    margin-bottom:15px;
    font-size:16px;
    border-bottom:1px solid #f6f1f1;
    padding-bottom:8px;
}

.footer-col p{
    margin:8px 0;
    font-size:14px;
    color:#ccc;
    cursor:pointer;
    transition:0.3s;
}

.footer-col p:hover{
    color:#fff;
}


.footer-col a{
    text-decoration: none;   
    color: #ccc;           
    transition: 0.3s;
}

.footer-col a:hover{
    color: #f0c76b ;            
}



.social-icons{
    text-align:center;
    margin-top:30px;
}

.social-icons a {
    margin:0 10px;
    font-size:20px;
    cursor:pointer;
    transition:0.3s;
}

.social-icons span:hover{
    color:#2E8B57;
}

.footer-bottom{
    text-align:center;
    margin-top:30px;
    font-size:14px;
    color:#aaa;
    border-top:1px solid #333;
    padding-top:15px;
}
@media (max-width: 768px){

    .footer-container{
        flex-direction:column;
        text-align:center;
    }

    .footer-col{
        margin-bottom:20px;
    }
}






body{
    font-family: Arial;

    margin:0;
}

/* Main Wrapper */
.main-wrapper{
    min-height:100vh;
    display:flex;
    flex-direction:column;
}

/* Center Card */
.content-card{
    background:white;
    width:85%;
    max-width:1100px;
    margin:40px auto;
    padding:30px;
    border-radius:20px;
    box-shadow:0 10px 30px rgba(0,0,0,0.3);
    transition:0.3s;
}

/* Dark mode card */
.dark-mode .content-card{
    background:#f5f2f2;
    color:white;
}