body{

margin:0;
padding:0;
font-family:Arial, sans-serif;

background: linear-gradient(135deg,#4facfe,#00f2fe);

height:100vh;
display:flex;
justify-content:center;
align-items:center;

}

.box{

background:white;
padding:40px;
width:330px;
border-radius:12px;
text-align:center;
box-shadow:0 5px 20px rgba(0,0,0,0.3);

}

h2{

color:#0077b6;
margin-bottom:5px;

}

h3{

margin-bottom:20px;

}

input{

width:100%;
padding:12px;
margin:10px 0;
border-radius:6px;
border:1px solid #ccc;
font-size:14px;

}

button{

width:100%;
padding:12px;
background:#0077b6;
color:white;
border:none;
border-radius:6px;
font-size:16px;
cursor:pointer;
transition:0.3s;

}

button:hover{

background:#023e8a;

}

a{

color:#0077b6;
text-decoration:none;
font-weight:bold;

}